.about-us {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.about-us-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
}

.about-us-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    max-width: 600px;
}

.about-us h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about-us-button {
    background-color: #f04e30;
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.about-us-button:hover {
    background-color: #d44329;
}
