.catalog-page {
    padding: 20px;
    background: #000000;

}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Четыре элемента в ряду */
    gap: 20px;
    justify-items: center; /* Выравнивание карточек по центру */
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    width: 100%; /* Устанавливаем ширину карточек */
    max-width: 200px; /* Ограничиваем максимальную ширину */
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.text-cc {
    color: white;
    text-align: center;
}